<!DOCTYPE html>
<html lang="en">
<body>
    
    <!-- way 1 -->
    <h1>Enter the texts to be compared</h1>    
    <form action="." method="POST">
        <input type="text" name="text1">
        <input type="text" name="text2">
        <input type="submit" name="my-form" value="Check !">
    </form>
    
    <!-- way 2 -->
    <input type="text" name="text1" id="input2">
    <button id="send_input">Send</button> 
    
    <div id='respon'></div>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="static/js/get_input.js"></script>
    
    
</body>
</html>